hr.home--page {
  margin-bottom: 5em;
}
.home__page__button {
  font-size: 2em;
  display: block;
  margin: 1.5em auto;
}
.home__page__img {
  height: 25vh;
  margin: 4em 2em 0 0em;
}
.header__watch__home__page {
  color: #211e1e;
  font-size: 1.8em;
}
