.matches--gambling--table {
  height: 40vh;
  overflow: auto;
}
@media screen and (min-height: 550px) {
  .matches--gambling--table {
    height: 55vh;
  }
}
@media screen and (min-height: 650px) {
  .matches--gambling--table {
    height: 55vh;
  }
}
@media screen and (max-height: 650px) {
  .matches--gambling--table {
    height: 55vh;
  }
}
.MuiTabs-flexContainer {
  justify-content: space-around;
}
.gambling-table__game__played__text {
  color: #757575;
}
.gambling-table__game__playing__today__text {
  color: red;
  font-weight: bold;
}
.gambling-table__score__input {
  width: 2vmax;
}
