.roles__container {
  width: 80%;
  margin: auto;
  height: 60vmin;
  overflow: auto;
  background-color: aliceblue;
  box-shadow: 5px 10px #000;
  max-width: 1000px;
}
.inner__wrapper {
  margin: auto;
  font-size: 40px;
}
div.rules {
  margin: 1em 2em;
}
