.gambling-table {
  height: 40vh;
  overflow: auto;
}
@media screen and (min-height: 550px) {
  .gambling-table {
    height: 55vh;
  }
}
@media screen and (min-height: 650px) {
  .gambling-table {
    height: 65vh;
  }
}
.MuiTabs-flexContainer {
  justify-content: space-around;
}
