.container {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  margin-top: 50px;
}

.item {
  position: relative;
  display: flex;
  width: 300px;
  /* flex: 1 1 0px; */
  background-color: #c0c0c9;

  margin: auto;
  transition: transform 500ms;
}
.first__index {
  border-radius: 10px 10px 0 0;
}
.last__index {
  border-radius: 0 0 10px 10px;
}
.container:focus-within .item,
.container:hover .item {
  transform: translateY(-15%);
  cursor: pointer;
}

.item:focus ~ .item,
.item:hover ~ .item {
  transform: translateY(15%);
}

.container .item:focus,
.container .item:hover {
  transform: scale(1.1);
  z-index: 1;
  border-radius: 10px;
  background-color: #a9a9a9;
}

body {
  overflow: hidden;
}

.item img {
  display: block;
  max-width: 100%;
}
@media screen and (min-width: 450px) {
  .item {
    width: 400px;
  }
}
