.container {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  margin-top: 50px;
}

.item {
  position: relative;
  display: flex;
  width: 85%;
  padding: 10px;
  background-color: rgb(255, 140, 0);
  margin: auto;
  transition: transform 500ms;
}
.item > div {
  margin: auto;
  font-size: 0.5em;
}
.first__index {
  border-radius: 10px 10px 0 0;
}
.last__index {
  border-radius: 0 0 10px 10px;
}
.container:focus-within .item,
.container:hover .item {
  transform: translateY(-15%);
  cursor: pointer;
}

.item:focus ~ .item,
.item:hover ~ .item {
  transform: translateY(15%);
}

.container .item:focus,
.container .item:hover {
  transform: scale(1.05);
  z-index: 1;
  border-radius: 10px;
  background-color: rgb(255, 127, 80);
}

body {
  overflow: hidden;
}

.item img {
  display: block;
  max-width: 100%;
}
.user__name__score__table {
  max-width: 7%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
@media screen and (min-width: 550px) {
  .item {
    width: 75%;
  }
  .item > div {
    font-size: 1em;
  }
}
