.pure-menu {
  display: flex !important;
  background-color: aliceblue;
  height: 50px;
}
.pure-menu-list {
  width: 100%;
  display: flex !important;
}
.pure-menu-link {
  margin: 10px 0;
}
.pure-menu-link:hover {
  cursor: pointer;
}

.navbar__image__Link {
  margin: 10px 0 10px auto;
}

.imageut__link__item:hover {
  cursor: pointer;
}
.header__watch {
  color: #ccc;
  margin: 7px;
}
.header > h1 {
  margin: 0.17em 0 !important;
  font-size: 3em;
}

@media screen and (max-width: 420px) {
  .rules__item {
    display: none;
  }
}
.navbar--popper {
  z-index: 1;
}
.dropdown--wrapper {
  flex-direction: column;
}
.header__gamble__wrapper {
  display: flex;
  justify-content: center;
  margin: 2em auto;
}
.header__gamble__wrapper h1 {
  font-size: 2.5em;
}
.header__gamble__wrapper__left__image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 15px 0 0;
}
.header__gamble__wrapper__right__image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 0 15px 0;
}
.opponents--header--wrapper {
  display: flex;
  justify-content: center;
  margin: 2em auto;
}
.opponents--header--wrapper h1 {
  font-size: 2.5em;
}
.opponents--header--wrapper__left__image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 0 15px 0;
}
.opponents--header--wrapper__right__image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 0 0 15px;
}
